doctype 5
html
  head
    title nTorrent
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/main.js')
  body
    div(class='container')
      h1 nTorrent
      hr

      block content